<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Info</title>
</head>
<style>
    * {
        margin:0;
        padding: 0
    }

    .results {
        width: fit-content;
        margin: 25px auto;
        padding: 50px;
        border: 3px solid black
    }

    .margintb{
        margin: 10px 0;
    }

</style>
<body>
    <div class="results">
        <h1>Submitted Info</h1>
        <p class = "margintb">Name: {{ session['name'] }}</p>
        <p class = "margintb">Dojo Location: {{ session['location'] }}</p>
        <p class = "margintb">Favorite Language: {{ session['favlanguage'] }}</p>
        <p>Achievements:</p>
        {% for i in range(session['checkedboxes']|length): %}
        <p>{{ session['checkedboxes'][i] }}</p>
        {% endfor %}
        <p class = "margintb">Comment: {{ session['comment'] }}</p>
        <a href="/"><button>Go Back</button></a>
    </div>

</body>
</html>